.lang {
  position: fixed;
  right: 9px;
  top: 0;
  z-index: 1040;
  button {
    &:hover {
      color: $red;
    }
  }
}
.nav-link {
  min-width: 12vw;

  img {
    @media  screen and (max-width: 768px) {
      max-width: 70%;
      height: auto;
    }
  }    
}   

.nav-item {
  width: 20%;
  text-align: center;
}
