@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
$font-family-sans-serif: 'Quicksand', sans-serif;
$primary: #6c757d;
$light: #fbf5e5;
$red: #FF0000;
$black: #000;
